body {
  background-image: url('fondo5.jpg');
  background-size: cover;
  font-size: 8px;
}

.contain{

  padding: 14px;
  height: 100vh;
}

.box {
  height: 70vh;
  padding: 0;
  margin-top: 20%;
  bottom: 10px;
}

 .pato{
   background-color: #ffffff59;
 }

.nbot{
  border-bottom: none !important;
}

.nright{
  border-right: none !important;
}

.nleft{
  border-left: none !important;
}

.yleft{
  border-left: 1px solid;
}
.subbox-c1{
  background-color: #f1b175ad;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
}

.subbox-c1:hover{
  background-color: #f6cda6;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}

.subbox-c2{
  background-color: #f9d579ad;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
}

.subbox-c2:hover{
  background-color: #fbe4a9;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}


.subbox-middle{
  background-color: #e5fb75ad;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
}

.subbox-middle:hover{
  background-color: #eefca7;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}

.subbox-g-nometal{
  background-color: #7ef58cad;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
}


.subbox-g-nometal:hover{
  background-color: #acf8b5;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}

.subbox-y-nometal{
  background-color: #f5ee7bad;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
}


.subbox-y-nometal:hover{
  background-color: #f8f4aa;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}

.subbox-v-nometal{
  background-color: #a287f7ad;;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
}

.subbox-v-nometal:hover{
  background-color: #cec0fb;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}

.subbox-p-nometal{
  background-color: #fa8fffad;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
}

.subbox-p-nometal:hover{
  background-color: #fbb7ff;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}

.subbox-gn{
  background-color: #83d0efad;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
}

.subbox-gn:hover{
  background-color: #aee0f4;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}

.subbox-l{
  background-color: #d2ff91ad;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  border-color: none solid;
}

.subbox-l:hover{
  background-color: #e2ffb8;
  border: 1px solid;
  height: 11.36vh;
  width: 100%;
  cursor: pointer;
}


.subbox-a {
  border: 1px solid;
  background-color: red;
  height: 11.36vh;
  width: 100%;

}

.subbox-b {
  border: 1px solid;
  background-color: blue;
  height: 11.36vh;
  width: 100%;
}

.subbox-h {

  height: 11.36vh;
  width: 100%;
}

.masa-atomica{
  font-size: 0.75em;
  width: 100%;
  padding: 0 !important;
  margin-top: 5px;
  margin-left: 2px
}

.ionizacion{
  font-size: 0.5em;
  margin-left: 2px !important;
}

.num-atomico{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.9em;
}

.elem{
  width: 100%;
  padding: 0 !important;
  margin: 0;
}
.celem{
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.simbol{
  font-size: 2em;
  padding: 0 !important;
  display: block;
}

.name{
  font-size: 0.75em;
  padding: 0 !important;
  display: block;
}

.foto{
  height: 85vh;
}


.nobut{
  background-color: none;
  border: 0px;
}
.mymodal{
  width: 100vw;
  margin: 0;
  background-color: black;
  height: 100vh
}

.elemfoto{
  border: 3px solid !important;
  border-color: #ff000057 !important;
}

.title-3{
  margin-top: 1vh;
}

.title-5{
  margin-top: 3vh;
}

.title-7{
  margin-top: 5vh;
}

.subbox-t-3 {
  height: 10.36vh;
  width: 100%;
}

.subbox-t-5 {
  height: 8.36vh;
  width: 100%;
}

.subbox-t-7 {
  height: 6.36vh;
  width: 100%;
}

.initTitle{
  font-size: 30px;
  color: white;
  height: 95vh;
}

.playButton{
  position: absolute;
  cursor: pointer;
  color: white;
  margin: 10px;
  font-size: 20px;
}

.playButtonModal{
  cursor: pointer;
  color: white;
  font-size: 20px;
  width: 20px;
}

.playButton:hover{
  background-color: #f9fbe769;
  position: absolute;
  cursor: pointer;
  color: white;
  margin: 10px;
  font-size: 30px;
}

.animationOn {
  animation-duration: 2s;
  animation-name: in;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.tss{
  animation-play-state: paused;
}

@keyframes in {
  from {
    height: 13vh;
    width: 10vw;
  }
  to {
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    font-size: 70px;
  }
}

@keyframes out {
  from {
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    font-size: 70px;
  }
  to {
    height: 13vh;
    width: 10vw;

  }
}

.animed{

  border: 1px solid;
  height: 13vh;
  width: 10vw;
  padding: 5px;
  position: absolute;
  top: 40%;
  left: 40%;
  font-size: 10px;
}

.diapositivas{
  width: 90%;
}

.diapofoto{
  height: 85vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.closeModal{

    padding-bottom: 0 !important;
    padding-left: 1rem !important;
    padding-top: 1rem !important;
    border: none !important;
}
